In [1]:
import pandas as pd
import numpy as np
from glob import glob

# Analysis of athletes across all 34 compliant universities

In [2]:
compliant_schools = [ 
    "University of Akron Main Campus",
    "Arkansas State University-Main Campus",
    "Boise State University",
    "Bowling Green State University-Main Campus",
    "University of Central Arkansas",
    "Cleveland State University",
    "Eastern Washington University",
    "University of Florida",
    "Georgia Southern University",
    "Georgia State University",
    "Georgia Institute of Technology-Main Campus",
    "Illinois State University",
    "Kennesaw State University",
    "University of Kentucky",
    "University of Louisiana at Lafayette",
    "Miami University-Oxford",
    "Michigan State University", 
    "University of New Mexico-Main Campus",
    "New Mexico State University-Main Campus",
    "University of North Florida",
    "Northern Kentucky University",
    "Ohio State University-Main Campus",
    "Prairie View A & M University",
    "Savannah State University",
    "South Dakota State University",
    "University of South Florida-Main Campus",
    "Texas Southern University",
    "University of Toledo",
    "University of Central Florida",
    "The University of Texas at El Paso",
    "Western Illinois University",
    "Western Kentucky University",
    "University of Wyoming",
    "Youngstown State University"
]

In [3]:
len(compliant_schools)

34

In [4]:
dfs = []
for year in range(2014, 2019):
    print(year)
    df = pd.read_excel("excel/EADA All Data Combined {}-{}_SAS_SPSS_EXCEL/EADA{}.xlsx".format(year-1, year, year))
    df = df.loc[df["institution_name"].isin(compliant_schools)]
    df = df[["institution_name",
            "EFTotalCount", 
            "UNDUP_CT_PARTIC_MEN",
            "UNDUP_CT_PARTIC_WOMEN",
            "PARTIC_MEN_Football"
            ]] # none of these schools have women's football
    df["total_athletes"] = df["UNDUP_CT_PARTIC_MEN"] + df["UNDUP_CT_PARTIC_WOMEN"]
    df = df[["institution_name",
            "EFTotalCount",
            "total_athletes",
            "PARTIC_MEN_Football"]]
    dfs.append(df)

2014
2015
2016
2017
2018

In [5]:
all_schools = pd.concat(dfs, sort=False)
all_schools.head()

,institution_name,EFTotalCount,total_athletes,PARTIC_MEN_Football
70,Arkansas State University-Main Campus,7557,341,120.0
73,University of Central Arkansas,8237,398,98.0
320,University of Central Florida,36096,443,112.0
337,University of Florida,30054,486,131.0
346,University of North Florida,9990,272,NaN

In [6]:
all_schools['institution_name'].value_counts()

Prairie View A & M University                  5
Georgia Institute of Technology-Main Campus    5
Boise State University                         5
Kennesaw State University                      5
Western Kentucky University                    5
Georgia State University                       5
Georgia Southern University                    5
Ohio State University-Main Campus              5
University of New Mexico-Main Campus           5
Bowling Green State University-Main Campus     5
New Mexico State University-Main Campus        5
The University of Texas at El Paso             5
Texas Southern University                      5
University of Florida                          5
Western Illinois University                    5
Arkansas State University-Main Campus          5
University of Akron Main Campus                5
University of Kentucky                         5
University of Central Arkansas                 5
University of Toledo                           5
Miami University-Oxford                        5
University of North Florida                    5
Savannah State University                      5
Illinois State University                      5
Michigan State University                      5
Northern Kentucky University                   5
Cleveland State University                     5
Eastern Washington University                  5
University of Louisiana at Lafayette           5
South Dakota State University                  5
University of Central Florida                  5
Youngstown State University                    5
University of Wyoming                          5
University of South Florida-Main Campus        5
Name: institution_name, dtype: int64

In [7]:
avg_students = all_schools["EFTotalCount"].mean() *34
avg_athletes = all_schools["total_athletes"].mean() *34
print(avg_students, avg_athletes)

(510754.60000000003, 14182.6)

In [8]:
avg_nonathletes = avg_students - avg_athletes
avg_nonathletes

496572.00000000006

In [9]:
pct_of_students_who_are_athletes = avg_athletes/avg_students * 100
pct_of_students_who_are_athletes

2.7767933954975637

In [10]:
students_found_responsible = float(531)
students_found_responsible_who_are_athletes = float(47)

In [11]:
pct_of_students_found_responsible_who_are_athletes = students_found_responsible_who_are_athletes/students_found_responsible * 100
pct_of_students_found_responsible_who_are_athletes

8.851224105461393

In [12]:
rate = pct_of_students_found_responsible_who_are_athletes/pct_of_students_who_are_athletes
rate

3.187570281538852

# Analysis of football players across 31 compliant football universities

In [13]:
football_schools = all_schools.dropna()
football_schools.head()

,institution_name,EFTotalCount,total_athletes,PARTIC_MEN_Football
70,Arkansas State University-Main Campus,7557,341,120.0
73,University of Central Arkansas,8237,398,98.0
320,University of Central Florida,36096,443,112.0
337,University of Florida,30054,486,131.0
362,University of South Florida-Main Campus,23440,436,105.0

In [14]:
len(set(football_schools["institution_name"].tolist()))

31

In [15]:
fb_avg_students = football_schools["EFTotalCount"].mean() * 31 
fb_avg_football_players = football_schools["PARTIC_MEN_Football"].mean() * 31
print(fb_avg_students, fb_avg_football_players)

(482490.038961039, 3488.305194805195)

In [16]:
fb_avg_nonfootball = fb_avg_students - fb_avg_football_players
fb_avg_nonfootball

479001.7337662338

In [17]:
fb_pct_of_students_who_play_football = fb_avg_football_players/fb_avg_students * 100
fb_pct_of_students_who_play_football

0.7229797328700656

In [18]:
fb_students_found_responsible = float(494)
fb_students_found_responsible_who_play_football = float(30)

In [19]:
fb_pct_of_students_found_responsible_who_play_football = fb_students_found_responsible_who_play_football/fb_students_found_responsible * 100
fb_pct_of_students_found_responsible_who_play_football

6.0728744939271255

In [20]:
fb_rate = fb_pct_of_students_found_responsible_who_play_football/fb_pct_of_students_who_play_football
fb_rate

8.399785246841141